<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="endpoint" value="https://mbcrump.documents.azure.com:443/" />
    <add key="authKey" value="VxDEcJNoAfSaKxOTRNDszVi1FAOMalaiLOd5V3JcucuMGC4knrohe9C5Yo2Ut0lq4viWHC3RlCTpzPL8fmWZRg==" />
    <add key="database" value="bible" />
    <add key="collection" value="verses" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>