<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="endpoint" value="https://mbcrump.documents.azure.com:443/" />
    <add key="authkey" value="Py17nStN0Y0y79I4fcNAwHnNNUqumbjh9h6UNrGXBlBpNwFospgF3r3NHNjAw6sHbJsaEbsIXkEBh5YVTCxTJw==" />
    <add key="database" value="bible" />
    <add key="collection" value="verses" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>